<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.blog.mapper.BlogUserUserinfoMapper">
    
    <resultMap type="BlogUserUserinfo" id="BlogUserUserinfoResult">
        <result property="userId"    column="user_id"    />
        <result property="userInfoId"    column="user_info_id"    />
    </resultMap>

    <sql id="selectBlogUserUserinfoVo">
        select user_id, user_info_id from blog_user_userinfo
    </sql>

    <select id="selectBlogUserUserinfoList" parameterType="BlogUserUserinfo" resultMap="BlogUserUserinfoResult">
        <include refid="selectBlogUserUserinfoVo"/>
        <where>  
            <if test="userInfoId != null "> and user_info_id = #{userInfoId}</if>
        </where>
    </select>
    
    <select id="selectBlogUserUserinfoByUserId" parameterType="Long" resultMap="BlogUserUserinfoResult">
        <include refid="selectBlogUserUserinfoVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertBlogUserUserinfo" parameterType="BlogUserUserinfo">
        insert into blog_user_userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userInfoId != null">user_info_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userInfoId != null">#{userInfoId},</if>
         </trim>
    </insert>

    <update id="updateBlogUserUserinfo" parameterType="BlogUserUserinfo">
        update blog_user_userinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="userInfoId != null">user_info_id = #{userInfoId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteBlogUserUserinfoByUserId" parameterType="Long">
        delete from blog_user_userinfo where user_id = #{userId}
    </delete>

    <delete id="deleteBlogUserUserinfoByUserIds" parameterType="String">
        delete from blog_user_userinfo where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>